@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}

::placeholder { 
  color: rgba(255,255,255,0.7);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#rsg-root {
  min-height: 100%;
  display: grid;
  grid-template-areas: 'header header header' 'main main main' 'footer footer footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
